@use "config" as *;

/* Layout Container
---------------------------------------------------------------------------- */
.l-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

  @include mq(sp) {
    padding: 0 15px;
  }
}

/* Header
---------------------------------------------------------------------------- */
header {
}

/* Footer
---------------------------------------------------------------------------- */
footer {
}