@charset "UTF-8";

@use "config" as *;

/* Display Utilities (RWD)
---------------------------------------------------------------------------- */
@include mq(pc) {
  .u-sp-only {
    display: none !important;
  }
}

@include mq(sp) {
  .u-pc-only {
    display: none !important;
  }
}

/* Functional Components (Animations etc)
---------------------------------------------------------------------------- */
// フェードイン
.c-fadein {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s, transform 1s;

  &.is-active {
    opacity: 1;
    transform: translateY(0);
  }
}

// ページトップボタン
.c-pagetop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  z-index: z(pagetop);

  a {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #333;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 12px;
    text-decoration: none;
    border-radius: 50%;
  }

  &.is-active {
    opacity: 1;
    visibility: visible;
  }
}
