/* Configuration (Variables, Mixins)
---------------------------------------------------------------------------- */
/* Reset
---------------------------------------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
button,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

body {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
}

img {
  border: 0;
  vertical-align: bottom;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: super;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

pre {
  white-space: pre-wrap;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Global (Base HTML Tags)
---------------------------------------------------------------------------- */
/* Global Base Styles
---------------------------------------------------------------------------- */
html {
  font-size: 62.5%;
  height: 100%;
}

body {
  min-height: 100%;
  color: #000000;
  font-family: "Noto Sans JP", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.5;
  overflow-x: hidden;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s;
  outline: none;
}
@media screen and (min-width: 721px) {
  a:hover {
    opacity: 0.7;
  }
}

img {
  max-width: 100%;
  height: auto;
}

* {
  word-break: normal;
}

/* Layout (Structure, Header, Footer)
---------------------------------------------------------------------------- */
/* Layout Container
---------------------------------------------------------------------------- */
.l-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (max-width: 720px) {
  .l-inner {
    padding: 0 15px;
  }
}

/* Header
---------------------------------------------------------------------------- */
.l-header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}
.l-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
@media screen and (max-width: 720px) {
  .l-header__inner {
    height: 60px;
  }
}
.l-header__logo {
  font-weight: bold;
  font-size: 2.4rem;
}
.l-header {
  /* Hamburger Menu (SP Only) */
}
.l-header__hamburger {
  display: none;
}
@media screen and (max-width: 720px) {
  .l-header__hamburger {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
    z-index: 101;
  }
  .l-header__hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    position: absolute;
    transition: all 0.3s;
  }
  .l-header__hamburger span:nth-child(1) {
    top: 0;
  }
  .l-header__hamburger span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  .l-header__hamburger span:nth-child(3) {
    bottom: 0;
  }
  .l-header__hamburger.is-active span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  .l-header__hamburger.is-active span:nth-child(2) {
    opacity: 0;
  }
  .l-header__hamburger.is-active span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
  }
}
.l-header {
  /* Navigation */
}
.l-header__nav ul {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 720px) {
  .l-header__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    z-index: 100;
  }
  .l-header__nav ul {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  .l-header__nav.is-active {
    opacity: 1;
    visibility: visible;
  }
}

/* Footer
---------------------------------------------------------------------------- */
.l-footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

/* Utility (Helpers, Functional Classes)
---------------------------------------------------------------------------- */
/* Display Utilities (RWD)
---------------------------------------------------------------------------- */
@media screen and (min-width: 721px) {
  .u-sp-only {
    display: none !important;
  }
}
@media screen and (max-width: 720px) {
  .u-pc-only {
    display: none !important;
  }
}
/* Functional Components (Animations etc)
---------------------------------------------------------------------------- */
.c-fadein {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s, transform 1s;
}
.c-fadein.is-active {
  opacity: 1;
  transform: translateY(0);
}

.c-pagetop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  z-index: 90;
}
.c-pagetop a {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #333;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 12px;
  text-decoration: none;
  border-radius: 50%;
}
.c-pagetop.is-active {
  opacity: 1;
  visibility: visible;
}